$tipoFuente: 'Merriweather', serif;
$negro: #000000;
$fondoHeaderFooter:#e6e6fa;
$fondoSuscripcionLogin:#C6D0DA;
$azul-medio: #3f30f5;
$blanco: #ffffff;
$secundario: #757689;
$primario: #ffc107;
$gris: #757575;
$grisclaro: #dfe9fe;